@font-face {
  font-family: "Glasgow";
  src:url('../fonts/StrongGlasgow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: white; /* Sanity Check! */
}

h1 {
  font-family: "Glasgow";
  margin-top: 100px;
  text-align: left;
  text-decoration: underline;
}

h4 {
  font-family: "Glasgow";
}

#profile {
  width: 210px;
}
